
.profile-form {
    max-width: 100%;   
    background-color: #fff;
    
}
.app-c{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5rem;
    padding: 0px 30px;    
}
.prof-for{
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 20px 20px 0px 20px ;
}
.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;

}
.inpt-info-g{
    border-radius: 22px;
    border: 1px solid #00b4cc38;
    padding: 0px 5px;
}
.inpt-info-g:focus{
 
    outline: none;
}
.lbl-info-g{
    color:#00b4cc91 ;
    padding: 0px 10px;
}
.info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

label {
    font-weight: bold;
}




.profile-body {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px 20px 0px 20px ;
    border-radius: 20px;

}


.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.map-placeholder {
    width: 100%;
    height: 200px;
    background-color: #e9ecef;
}

.form-actions {
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
}

.reset-button {
    padding: 0px 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
    color: #00B4CC;
    border: 1px solid  #00B4CC;
}

.reset-button:hover{
    background-color:#00B4CC ;
    color: #fff;
}

.save-button {
    background-color: #28a745;
    color: #fff;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-form-group {
    margin-bottom: 15px;
}

.modal-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.modal-form-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.modal-close-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px 12px;

}

.modal-close-button:hover {
    background-color: #00B4CC;
    color: white;
}

.consult1-button {
    padding: 8px 12px;
    background-color: #00B4CC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.consult1-button:hover {
    background-color: #008C99;
}
